<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style-light.css">
</head>
<body>

    <main class="container">
        <article>
            {{ content }}
        </article>
    </main>

    <a href="{{ '/index' | relative_url }}" style="font-size: 32px; text-decoration: none; opacity: 0.8;" title="Voltar ao índice">🏠</a>
        </footer>


</body>
</html>
